@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Here at Trash Company™, we strive to create a trash service that not only keeps the planet clean, but helps you meet your trash pickup needs. Our mission is to pull compactors as efficiently for the environment as possible, while also giving you the service you deserve.</p>
