@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    1000 Trash Parkway<br />
    Trash City, IN 46222<br />
    <abbr title="Phone">P:</abbr>
    555-555-5555
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">mpage@trashcompany.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@trashcompany.com</a>
</address>