@{
    ViewBag.Title = "Home Page";
}

<center>
    ><div class="jumbotron">
        <h1>Trash Company</h1>
        <p class="lead">Register your property for service now!</p>
        <p><a href="https://localhost:44380/Haul/Create" class="btn btn-primary btn-lg">Request Service! &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <img src="https://tse3.mm.bing.net/th?id=OIP.cNPwuwcjscKvMgzexPhQlwHaEK&pid=Api&P=0&w=281&h=158" width="300" height="150" />
            <h2>Compactors</h2>
            <p>
                Click here to view your list of available compactors. You can also create, delete and edit~
            </p>
            <p><a class="btn btn-default" href="https://localhost:44380/Compactor/Index">Compactors! &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <img src="https://cdn.vox-cdn.com/thumbor/9oudB8-y8Oj627YrEGTaaJrlQk8=/0x76:800x526/1600x900/cdn.vox-cdn.com/uploads/chorus_image/image/42107218/springfieldmallrendering.0.0.jpg" width="300" height="150" />
            <h2>Properties</h2>
            <p>Here you can view all the properties we service:</p>
            <p><a class="btn btn-default" href="https://localhost:44380/Property/Index">Properties! &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <img src="https://fleetnewsdaily.com/wp-content/uploads/2017/10/MotivERV-3-of-4-e1410913403959.jpg" width="300" height="150"/>
            <h2>Haulers</h2>
            <p>You can find the haulers we work with here:</p>
            <p><a class="btn btn-default" href="https://localhost:44380/HaulerInfo/Index">Haulers! &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <img src="https://media.istockphoto.com/photos/employee-picture-id1135715040?k=6&m=1135715040&s=170667a&w=0&h=Li1iaYWo3w0-2BO49XBrJK6c-uUtFC2ORmsyokLq2wM=" width="300" height="150"/>
            <h2>Property Contacts</h2>
            <p>Find the contacts for each property here:</p>
            <p><a class="btn btn-default" href="https://localhost:44380/PropertyContact/Index">Property COntacts! &raquo;</a></p>
        </div>
    </div>
</center>